*  {
    margin: 0;
    padding: 0;
}

body {
    background-color:#271515ff;
    
}

.hero { background-image: url(../banner.JPG);
    color: white;
    background-size: cover;
    background-position: center center;
    height: 310px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

h1 {
    color:#ffffff;
    font-family:"Tahoma";
    font-size:35px;
    text-shadow: 2px 2px 3px #400d16;
    margin-bottom: 11px;
    
}

p {
    color:#fcd7dd;
    font-family:"Helvetica";
    text-shadow: 2px 2px 3px #400d16;
            
}


.directory-bk {
    background-color:#fed8d9ff;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 40px;
    margin-right: 40px;
    
    
}

ul {
    margin-top: 5px;
}

li {
    margin-bottom: 5px;
}

a:hover {
    color: #271515ff;
}

a {
    color:#c37d84ff;
    font-family:"Helvetica";
    text-decoration: none;
    
}
